*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(../images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-size: auto;

  font-family: Manrope;

  background-color: hsl(230, 100%, 99%);
}