@import 'input';
@import 'range';


.container {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.title {
  width: 600px;
  text-align: center;
  
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 80px;
  img {
    position: absolute;
    
  }

  h1 {
    font-size: 35px;

    span {
      font-size: 18px;
      font-weight: 400;

      color: rgb(185, 180, 180);
    }
  }
}

.container .pricing-container{
  display: flex;
  flex-direction: column;
  align-items: center;
 

  width: 600px;
  height: 500px;

  background-color: white;

  @include box-shadow(rgba(0, 0, 0, 0.5));

  margin-top: 90px;

  .section {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0px;

    p {
      font-size: 15px;
      color: hsl(225, 20%, 60%);
      span {
        font-size: 35px;
        color: black;
      }
    }
  }

  input[type=range] {
    width: 300px;
    
  }

  datalist {
    color: black;
  }

  .more-options {

   

    width: 600px;

    display: flex;
    justify-content: flex-end;

    margin-top: 40px;

    color: hsl(225, 20%, 60%);

    :first-child {
      margin-right: 20px;
      
    }

    :last-child {
      margin: 0px 20px;
    }

   
    span {
      color: hsl(15, 100%, 70%);
      background-color: hsl(14, 92%, 95%);
      font-size: 12px;
    }
   
  }

}


.start{
  width: 600px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-top: 50px;

  border-top: 1px solid gray;

  
  .about, .bnt-trial {
    margin-top: 50px;
  }

  .about {
    ul{
      list-style-image: url(../images/icon-check.svg);
      color: hsl(225, 20%, 60%);
    }
  }

  .bnt-trial button{
    width: 150px;
    height: 40px;

    border-radius: 25px;

    color: white;

    background-color: hsl(227, 35%, 25%);
    
    outline: none;
    border: none;
    
    font-weight: 700;
    
    cursor: pointer;
    
    &:active {
      border: 1px solid white;;
    }
    
    &:hover {
      
      background-color: hsl(227, 35%, 45%);
    }
  }
}

.attribution {
  margin: 100px 0px;
}
